{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="collapsible.css" type="text/css"> -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>combineSketches</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/p5.js"></script>

    <script src="{% static 'libraries/p5.js' %}" type="text/javascript"></script>

    <script src="{% static 'libraries/p5.sound.js' %}" type="text/javascript"></script>
    <script src="{% static 'libraries/p5.dom.js' %}" type="text/javascript"></script>
   <script src="{% static 'sketch_temp2.js' %}" type="text/javascript" id='MyJavaScript'></script>
    <!--<script src="{% static 'sketch1.js' %}" type="text/javascript" id='MyJavaScript'></script>-->

    <style type='text/css'>
      body {padding: 0; margin: 0;}

    </style>

    <script>


      new p5(allSketch);

    </script>
  </head>

  <body>
{#     <div id="myContainer"></div> #}
  </body>
</html>
